.friendMessage {
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
    color: #000;
    border-radius: 10px;
    text-align: start;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    gap: 10px;
}

.friendImageAndText img {
    align-self: end;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border: 1px solid white;
    border-radius: 100%;
    overflow: hidden;
}

.friendText {
    position: relative;
    padding: 8px 20px;
    background-color: var(--second-color);
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px;
    border-color: transparent transparent var(--second-color) transparent ;
    z-index: 1;
}

.friendName {
    font-weight: bold;

}

.friendMessageText {
}

.friendTime {
    padding-left: 11px;
    font-size: 10px;
    color: #000;
}
