.sendForm {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textarea {
    width: 70%;
    min-height: 41px;
    padding: 12px 24px;
    border-radius: 20px;
    resize: none;
    border: transparent;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.button {
    padding: 10px 39px;
    background-color: var(--primary-color);
    color: white;
    border: transparent;
    border-radius: 25px;
}

.button:hover {

}
.button:active {

}
